# https://github.com/conda-forge/conda-forge-pinning-feedstock/blob/main/recipe/conda_build_config.yaml

c_stdlib_version:  # [osx and x86_64]
  - '10.15'        # [osx and x86_64]

rerun_version:
  - '0.23'

pytorch:
  - '2.7'  # [linux and x86_64]
  - '2.9'

libtorch:
  - '2.7'  # [linux and x86_64]
  - '2.9'

# CUDA configuration with zip_keys
# The zip_keys constraint requires matching lengths for:
# cuda_compiler_version, c_compiler_version, cxx_compiler_version, c_stdlib_version, fortran_compiler_version
#
# Strategy:
# - Entries 1-3: Linux (with Linux compiler versions)
# - Entries 4-5: Windows (with Windows-compatible compiler versions, using None as placeholder)
#
# On Linux: entries 1-3 are included, entries 4-5 are excluded
# On Windows: entries 1-3 are excluded, entries 4-5 are included
cuda_compiler_version:
  - None              # [linux]
  - '12.6'            # [linux and x86_64]
  - '12.9'            # [linux]
  - None              # [win]
  - '12.9'            # [win]

c_compiler_version:
  - '13'              # [linux]
  - '13'              # [linux and x86_64]
  - '13'              # [linux]
  - ''                # [win]
  - ''                # [win]

cxx_compiler_version:
  - '13'              # [linux]
  - '13'              # [linux and x86_64]
  - '13'              # [linux]
  - ''                # [win]
  - ''                # [win]

c_stdlib_version:
  - '2.17'            # [linux]
  - '2.17'            # [linux and x86_64]
  - '2.17'            # [linux]
  - ''                # [win]
  - ''                # [win]

fortran_compiler_version:
  - '13'              # [linux]
  - '13'              # [linux and x86_64]
  - '13'              # [linux]
  - ''                # [win]
  - ''                # [win]
