# https://github.com/conda-forge/conda-forge-pinning-feedstock/blob/main/recipe/conda_build_config.yaml

c_stdlib_version:  # [osx and x86_64]
  - '10.15'        # [osx and x86_64]

rerun_version:
  - '0.23'

# Support older PyTorch versions on linux-64 only
# Other platforms use the current stable version (2.9)
# Each pytorch version is paired with its compatible pybind11_abi version
# The upstream conda-forge pinning already has zip_keys for [pytorch, pybind11_abi]
# - pytorch 2.7, 2.8: pybind11-abi 4 (pybind11 2.x)
# - pytorch 2.9: pybind11-abi 11 (pybind11 3.x)
pytorch:
  - '2.7'  # [linux and x86_64]
  - '2.8'  # [linux and x86_64]
  - '2.9'

libtorch:
  - '2.7'  # [linux and x86_64]
  - '2.8'  # [linux and x86_64]
  - '2.9'

pybind11_abi:
  - '4'   # [linux and x86_64]
  - '4'   # [linux and x86_64]
  - '11'
