# https://github.com/conda-forge/conda-forge-pinning-feedstock/blob/main/recipe/conda_build_config.yaml

c_stdlib_version:  # [osx and x86_64]
  - '10.15'        # [osx and x86_64]

rerun_version:
  - '0.23'

# Support older PyTorch versions on linux-64 only
# Other platforms use the current stable version (2.9)
pytorch:
  - '2.7'  # [linux and x86_64]
  - '2.9'

libtorch:
  - '2.7'  # [linux and x86_64]
  - '2.9'

# CUDA configuration strategy:
# - Linux: specify cuda_compiler_version with all zip_key members (c_compiler_version, etc.)
# - Windows/macOS: let global config handle CUDA (don't override locally)
#
# The zip_key members (c_compiler_version=13, c_stdlib_version=2.17) are Linux-specific.
# On Windows, specifying these would try to install "vs2022_win-64=13" which doesn't exist.
#
# By using [linux] selectors, we:
# 1. Override CUDA and compiler settings on Linux (adding 12.6 and keeping 12.9)
# 2. Let Windows/macOS use the global conda-forge config for CUDA
cuda_compiler_version:  # [linux]
  - None              # [linux]
  - '12.6'            # [linux and x86_64]
  - '12.9'            # [linux]

c_compiler_version:   # [linux]
  - '13'              # [linux]
  - '13'              # [linux and x86_64]
  - '13'              # [linux]

cxx_compiler_version: # [linux]
  - '13'              # [linux]
  - '13'              # [linux and x86_64]
  - '13'              # [linux]

c_stdlib_version:     # [linux]
  - '2.17'            # [linux]
  - '2.17'            # [linux and x86_64]
  - '2.17'            # [linux]

fortran_compiler_version:  # [linux]
  - '13'                   # [linux]
  - '13'                   # [linux and x86_64]
  - '13'                   # [linux]
