# https://github.com/conda-forge/conda-forge-pinning-feedstock/blob/main/recipe/conda_build_config.yaml

c_stdlib_version:  # [osx and x86_64]
  - '10.15'        # [osx and x86_64]

rerun_version:
  - '0.23'

pytorch:
  - '2.7'  # [linux and x86_64]
  - '2.8'  # [linux and x86_64]
  - '2.9'

libtorch:
  - '2.7'  # [linux and x86_64]
  - '2.8'  # [linux and x86_64]
  - '2.9'

# Pin re2 per pytorch version to avoid libabseil conflicts
# PyTorch 2.7/2.8 require libabseil 20250127, re2 2025.08.12 requires 20250512 (incompatible)
# Use re2 2024.07.02 for PyTorch 2.7/2.8, re2 2025.08.12 for PyTorch 2.9
re2:
  - '2024.07.02'  # [linux and x86_64]
  - '2024.07.02'  # [linux and x86_64]
  - '2025.08.12'

zip_keys:
  - - pytorch
    - libtorch
    - re2

# CUDA configuration with zip_keys - LINUX and WINDOWS ONLY
# By using [linux or win] on the key declarations, macOS uses global config entirely
#
# The zip_keys constraint requires matching lengths for:
# cuda_compiler_version, c_compiler_version, cxx_compiler_version, c_stdlib_version, fortran_compiler_version
#
# Strategy:
# - Entries 1-3: Linux (with Linux compiler versions)
# - Entries 4-5: Windows (with empty compiler versions to use defaults)
cuda_compiler_version:  # [linux or win]
  - None              # [linux]
  - '12.6'            # [linux and x86_64]
  - '12.9'            # [linux]
  - None              # [win]
  - '12.9'            # [win]

c_compiler_version:  # [linux or win]
  - '13'              # [linux]
  - '13'              # [linux and x86_64]
  - '13'              # [linux]
  - ''                # [win]
  - ''                # [win]

cxx_compiler_version:  # [linux or win]
  - '13'              # [linux]
  - '13'              # [linux and x86_64]
  - '13'              # [linux]
  - ''                # [win]
  - ''                # [win]

c_stdlib_version:  # [linux or win]
  - '2.17'            # [linux]
  - '2.17'            # [linux and x86_64]
  - '2.17'            # [linux]
  - ''                # [win]
  - ''                # [win]

fortran_compiler_version:  # [linux or win]
  - '13'              # [linux]
  - '13'              # [linux and x86_64]
  - '13'              # [linux]
  - ''                # [win]
  - ''                # [win]
