# https://github.com/conda-forge/conda-forge-pinning-feedstock/blob/main/recipe/conda_build_config.yaml

c_stdlib_version:  # [osx and x86_64]
  - '10.15'        # [osx and x86_64]

# CUDA configuration

# CUDA configuration with zip_keys - LINUX and WINDOWS ONLY
# By using [linux or win] on the key declarations, macOS uses global config entirely
#
# The zip_keys constraint requires matching lengths for:
# cuda_compiler_version, c_compiler_version, cxx_compiler_version, c_stdlib_version, fortran_compiler_version
#
# Strategy:
# - Entries 1-2: Linux (with Linux compiler versions)
# - Entries 3-4: Windows (with empty compiler versions to use defaults)
cuda_compiler_version:  # [linux or win]
  - None              # [linux]
  - '12.9'            # [linux]
  - None              # [win]
  - '12.9'            # [win]

c_compiler_version:  # [linux or win]
  - '13'              # [linux]
  - '13'              # [linux]
  - ''                # [win]
  - ''                # [win]

cxx_compiler_version:  # [linux or win]
  - '13'              # [linux]
  - '13'              # [linux]
  - ''                # [win]
  - ''                # [win]

c_stdlib_version:  # [linux or win]
  - '2.17'            # [linux]
  - '2.17'            # [linux]
  - ''                # [win]
  - ''                # [win]

fortran_compiler_version:  # [linux or win]
  - '13'              # [linux]
  - '13'              # [linux]
  - ''                # [win]
  - ''                # [win]
