# https://github.com/conda-forge/conda-forge-pinning-feedstock/blob/main/recipe/conda_build_config.yaml

c_stdlib_version:  # [osx and x86_64]
  - '10.15'        # [osx and x86_64]

rerun_version:
  - '0.23'

# Support older PyTorch versions on linux-64 only
# Other platforms use the current stable version (2.9)
# pybind11-abi version is determined by pytorch version in meta.yaml using Jinja2 conditional:
# - pytorch 2.7: pybind11-abi 4
# - pytorch 2.9: pybind11-abi 11
pytorch:
  - '2.7'  # [linux and x86_64]
  - '2.9'

libtorch:
  - '2.7'  # [linux and x86_64]
  - '2.9'

# CUDA versions with all zip_key members - LINUX ONLY
# cuda_compiler_version is part of zip_keys with c_compiler_version, cxx_compiler_version,
# c_stdlib_version, fortran_compiler_version - all must have matching lengths
#
# Using [linux] selector on ALL entries means:
# - Linux-64: cuda=[None, 12.6, 12.9] with matching compiler versions
# - Linux-aarch64: cuda=[None, 12.9] (12.6 excluded by [linux and x86_64])
# - Windows/macOS: use global config (no local override)
#
# This avoids the Windows issue where c_compiler_version=13 gets translated
# to vs2022_win-64=13 which doesn't exist.
cuda_compiler_version:
  - None    # [linux]
  - '12.6'  # [linux and x86_64]
  - '12.9'  # [linux]

c_compiler_version:
  - '13'    # [linux]
  - '13'    # [linux and x86_64]
  - '13'    # [linux]

cxx_compiler_version:
  - '13'    # [linux]
  - '13'    # [linux and x86_64]
  - '13'    # [linux]

c_stdlib_version:
  - '2.17'  # [linux]
  - '2.17'  # [linux and x86_64]
  - '2.17'  # [linux]

fortran_compiler_version:
  - '13'    # [linux]
  - '13'    # [linux and x86_64]
  - '13'    # [linux]
