# https://github.com/conda-forge/conda-forge-pinning-feedstock/blob/main/recipe/conda_build_config.yaml

c_stdlib_version:  # [osx and x86_64]
  - '10.15'        # [osx and x86_64]

rerun_version:
  - '0.23'

# Support older PyTorch versions on linux-64 only
# Other platforms use the current stable version (2.9)
# pytorch 2.7, 2.8 require pybind11-abi 4 (pybind11 2.x)
# pytorch 2.9 requires pybind11-abi 11 (pybind11 3.x)
pytorch:
  - '2.7'  # [linux and x86_64]
  - '2.8'  # [linux and x86_64]
  - '2.9'

libtorch:
  - '2.7'  # [linux and x86_64]
  - '2.8'  # [linux and x86_64]
  - '2.9'

pybind11_abi:
  - '4'   # for pytorch 2.7 [linux and x86_64]
  - '4'   # for pytorch 2.8 [linux and x86_64]
  - '11'  # for pytorch 2.9

zip_keys:
  - - pytorch        # [linux and x86_64]
    - libtorch       # [linux and x86_64]
    - pybind11_abi   # [linux and x86_64]
