# https://github.com/conda-forge/conda-forge-pinning-feedstock/blob/main/recipe/conda_build_config.yaml

c_stdlib_version:  # [osx and x86_64]
  - '10.15'        # [osx and x86_64]

rerun_version:
  - '0.23'

# Support older PyTorch versions on linux-64 only
# Other platforms use the current stable version (2.9)
# pybind11-abi version is determined by pytorch version in meta.yaml using Jinja2 conditional:
# - pytorch 2.7, 2.8: pybind11-abi 4
# - pytorch 2.9: pybind11-abi 11
pytorch:
  - '2.7'  # [linux and x86_64]
  - '2.8'  # [linux and x86_64]
  - '2.9'

libtorch:
  - '2.7'  # [linux and x86_64]
  - '2.8'  # [linux and x86_64]
  - '2.9'
